.App {
  text-align: center;
  background-color: blue;
  margin: 100px;
  border: solid 1px rgb(200, 255, 0);
}


.fullsize{
  height: 100vh
}

.footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  width: 100%;
  background-color: #CCC;
}


.leftSide{
  min-height: 40%;
  width: 100%;
  border: 1px solid black;
  background-color: rgba(237, 239, 245, 0.541);
}

.rightSideup{

  min-height: 20vh;
  width: 100%;
  border: 1px dashed black;
  background-color: rgba(228, 230, 235, 0.541);
  float: right;
}

.rightSidedown{
  min-height: 20vh;
  width: 100%;
  border: 1px dashed black;
  background-color: rgba(214, 112, 151, 0.541);
  float: right;
}

.rightTaskLine
{
 
  width: 100%;
  border: 1px dashed black;
  background-color: rgba(226, 215, 219, 0.541);
  float: right;
}
.box{
  border: 2px solid blue;
  font-size: 11px;
  font-variant: small-caps;
  width: 200px;
  height: 180px;
  margin: 4px;
  padding-right: 8px;
  background-color:#b9f0a8;
  float: left;
}

.open{
  background-color: coral;
}
.done {
 background-color:#b9f0a8;
}
.selected{
  background-color:#dbe76a75;
}

.abandonned{
  background-color:#f51111;
}

ul.a {list-style-type: none;}

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
  margin-bottom: 16px;
  margin-top:12px ;
}

.hoverTable{
  width:100%; 
  border-collapse:collapse; 
}
.hoverTable td{ 
  padding:7px; border:#4e95f4 1px solid;
}
/* Define the default color for all the table rows */
.hoverTable tr{
  background: #b8d1f3;
}
/* Define the hover highlight color for the table row */
  .hoverTable tr:hover {
        background-color: #ffff99;
  }